In [6]:
import os
import argparse
from time import time
import pandas as pd
from sqlalchemy import create_engine
import requests

In [21]:
csv_url="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"
csv_name="yellow_tripdata_2021-01.csv.gz"

csv_url_2="https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"
csv_name_2="ny_zones.csv"

In [22]:
os.system(f"wget {csv_url} -O {csv_name}")
os.system(f"wget {csv_url_2} -O {csv_name_2}")

0

In [30]:
df=pd.read_csv(csv_name)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  object
 2   lpep_dropoff_datetime  630918 non-null  object
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: float64(10), int64(7), object(3)
memory usage: 96.3+ MB

In [26]:
df.columns = df.columns.str.lower()
df.columns

Index(['vendorid', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'ratecodeid', 'pulocationid', 'dolocationid',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [27]:
user = "root"
password = "root"
host = "localhost"
port = "5433"
db = "ny_taxi_hw"

In [28]:
postgres_url = f'postgresql://{user}:{password}@{host}:{port}/{db}'
engine = create_engine(postgres_url)

In [29]:
engine.connect()

In [20]:
df_copy=(iterator=True, chunksize=100000)

SyntaxError: invalid syntax (2288292115.py, line 1)